*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}
#buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.button {
    color: white;
    border: 0;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#automatic {
    background-color: #999;
}